<div class="container">
    <div class="display-flex align-items-center justify-content-center p-6" style="min-height: 100vh">
        <div class="text-center">
            <h1>Welcome to the Metron</h1>
            <p class="text-color-on-surface-neutral">This is an example of the Angular Material with the Metron Design System Library</p>
            <div class="mt-6">
                <a href="https://metron.nudge-products.com/" target="_blank" mat-flat-button>View documentation</a>
            </div>
        </div>
    </div>
</div>
